*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse
/.settings/
/.project
/.classpath

/target/
/output/
/test/output/
/bin/

# IntelliJ
/.idea/
*.iml

# Large MATSim Munich input files
scenarios/munich_*/studyNetworkDense.xml
scenarios/munich_*/munich-v1.0-5pct.plans.xml

original-input-data/munich-v1/studyNetworkDense.xml
original-input-data/munich-v1/munich-v1.0-5pct.plans.xml

# Scenario outputs
scenarios/munich_*/output/